---
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Prueba de Fuente Rubik</title>
  </head>
  <body class="font-sans bg-gray-100 text-center p-10 space-y-6">
    <h1 class="text-4xl font-normal">Rubik 400 - Normal</h1>
    <h1 class="text-4xl font-medium">Rubik 500 - Medium</h1>
    <h1 class="text-4xl font-semibold">Rubik 600 - SemiBold</h1>
    <h1 class="text-4xl font-bold">Rubik 700 - Bold</h1>
  </body>
</html>