---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>CyberNova - Consultoría de Ciberseguridad</title>
  </head>
  <body class="font-sans from-pink-300 via-orange-200 to-blue-200 min-h-screen text-gray-900">
    <slot />
  </body>
</html>